<h1><%= @division.name %></h1>

<p><%= link_to "Edit division", edit_division_path %></p>

<h2>Employees:</h2>

<% if @division.employees.any? %>
  <h4>Here are the employees for this division:</h4>

  <% @division.employees.each do |employee| %>
    <ul>
      <li>
        <%= link_to employee.name, division_employee_path(@division, employee.id) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No employees are listed for this division.</p>
<% end %>

<p><%= link_to "Add an employee", new_division_employee_path(@division) %></p>

<% content_for(:nav) do %>
  <p><%= link_to "Divisions", divisions_path %></p>
<% end %>
